@tailwind base;
@tailwind components;
@tailwind utilities;


.typed-cursor {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    @apply text-secondary text-[44px] lg:text-8xl
}


body{
    overflow-x: hidden;
}
